body {
  border: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: Monospace;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: lightskyblue;
  width: 285px;
  padding: 15px;
  gap: 20px;
}

.display-header {
  display: flex;
  width: 100%;
  gap: 45px;
}

span {
  font-size: 18px;
  font-weight: 600;
}

.display-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.display-issue {
  display: flex;
  gap: 110px;
}

.total > span {
  font-size: 18px;
  font-weight: 800;
}

button {
  font-family: Monospace;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 20px;
  height: 35px;
  background-color: rgb(4, 58, 235);
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: 0;
}

button:hover {
  cursor: pointer;
  background-color: rgb(5, 186, 247);
}
